<!-- <div class="center-content">
  <mat-card class="centered-card">
    <mat-card-content>
      <h1 class="centered-heading">Sign-in</h1>
    </mat-card-content>
  </mat-card>
</div>
<div class="center-content">
<mat-card class="card">
<div class="button-container">
  <button mat-button class="round-button" (click)="navigateToLink()">
    <div class="button-icon-microsoft">
      <img src="http://127.0.0.1:8081/microsoft.png">
    </div>
  </button>
  <button mat-button class="round-button" (click)="navigateToLink()">
    <div class="button-icon-google">
      <img src="http://127.0.0.1:8081/google.png">
    </div>
  </button> 
  <button mat-button class="round-button" (click)="navigateToLink()">
    <div class="button-icon-facebook">
      <img src="http://127.0.0.1:8081/facebook.png">
    </div>
  </button> 
</div>
</mat-card>
</div> -->
<router-outlet></router-outlet>
